* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow: hidden;
}
.sky {
  height: 100vh;
  width: 200vw;
  background-image: url("./assets/images/background.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  background-position: center;
  animation:  shakeBody linear 500s infinite;
}

.trees {
  height: 80vh;
  width: 100%;
  background-image: url("./assets/images/trees.png");
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  background-position: center;
  animation:  shakeBody linear 10s infinite;
}
.track {
  height: 30vh;
  width: 800vw;
  background-image: url("./assets/images/track.png");
  background-repeat: repeat-x;
  position: absolute;
  top: 80vh;
  background-position: center;
  animation:  carMove linear 13s infinite;
}
.car {
  height: 100px;
  width: 300px;
  background-image: url("./assets/images/car_body.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 444px;
  bottom: 15vh;
  animation:  shake linear 3s infinite;
}
.wheel1 {
  width: 77px;
  position: relative;
  top: 44px;
  left: 12px;
}
.wheel1 img {
  width: 72px;
  position: relative;
  top: -6px;
  left: 2px;
  animation:  wheelRotation linear .2s infinite;
 
}
.wheel2 {
  width: 77px;
  position: relative;
  top: 44px;
  left: 190px;
}
.wheel2 img {
  width: 72px;
  position: relative;
  top: -85px;
  animation:  wheelRotation linear .2s infinite;
}


@keyframes wheelRotation{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes carMove{
  100%{
    transform: translateX(-500vw);
  }
}
@keyframes shake{
  0%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-5px);
  }
}
@keyframes shakeBody{
  100%{
    transform: translateX(-50vw);
  }
}